@-moz-document regexp("^https?://((chat|meta)\.)?stackoverflow\.com.*") {
 /***************************************************************
 StackOverflow Dark v2.5.8 (12/30/2014)
 https://github.com/StylishThemes/StackOverflow-Dark
 http://userstyles.org/styles/35345

 previous version information contained at the userstyles site
 ****************************************************************/

 * {
  border-color: #444 !important;
  text-shadow: none !important;
  box-shadow: none !important;
 }

 body {
  background-color: #191919 !important;
  background-image: /*[[bg-choice]]*/ url() !important;
  background-clip: border-box !important;
  background-origin: padding-box !important;
  /*[[bg-options]]*/
  /*[[bg-options2]]*/
 }

 /* === custom color === */
 a, .profile-popup a, .seWrapper a, .post-tag, .comments-link, .tag-synonym-link {
  color: /*[[base-color]]*/ #008080 !important
 }

 .nav .primarynav li a:hover {
  color: #fff !important;
  background: /*[[base-color]]*/ #008080 !important;
 }

 .post-tag:hover, .comments-link:hover, .summary .post-tag:hover , .commentslink, .bounty-indicator,
 .bounty-indicator-tab, .bounty-award, span.bounty-indicator-tab {
  background-color: /*[[base-color]]*/ #008080 !important;
  color: #eee !important;
 }

 /* === text selection === */
 ::selection {
  background: /*[[base-color]]*/ #008080 !important;
  color: #fff !important;
 }
 ::-moz-selection {
  background: /*[[base-color]]*/ #008080 !important;
  color: #fff !important;
 }

 /* === input focus hightlight === */
 input:focus {
  border-color: /*[[base-color]]*/ #008080 !important;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.075) inset, 0px 0px 5px rgba(255, 255, 255, .075) !important;
 }
 .tag-editor input:focus {
  border: 0 !important;
  box-shadow: none !important;
 }

 /* === hidden === */
 div.hireme, div#hireme {
  display: none !important;
 }

 /* === background color === */
 /* from darkest to lightest grey */
 .search-container input[type=text] {
  background-color: #000 !important;
 }

 #custom-header, .review-bar, .diff-choices a.selected, #header #topbar, td.owner, a.owner, .question-status,
 .profile-popup, .profile-popup div, .profile-popup th, .profile-popup td, #global, .actual-edit-overlay,
 input:not([type='submit']), textarea, #search input, .tag-editor {
  background-color: #111 !important;
  color: #ddd !important;
 }

 .summary .post-tag, .onebox, .profile-ad {
  background: #151515 !important;
 }

 html, blockquote, #post-preview, .nav .primarynav li a, #container, #hsearch .textbox, .form-item, .grippie,
 .welovestackoverflow, #wmd-button-bar, .wmd-button-bar, .qa-block, .content-block, .user-info-rep, .sidebar,
 .popup, #footer {
  background: #191919 none !important
 }

 .authcomment, .seIntro, .seFooter {
  background-color: #191919 !important;
  border: 2px solid #262626 !important;
 }

 #tabs a {
  border: 1px solid transparent !important;
 }

 #tabs a.youarehere, .tag-suggestions {
  background: #191919 !important;
  border: 1px solid #444 !important;
 }

 #user-about-me, .user-about-me, .mine .messages {
  background: #191919 !important;
  border: 0px !important;
  color: #C1BEBA !important;
 }

 .topbar-dialog .header, .topbar-dialog .modal-content li:hover, .share-tip,
 #tag-menu, .sidebar h3, #overlay-header, .action-list .action-selected, .switcher-nudge-lightbox,
 .user-rep-chart-summary-tooltip:hover {
  background-color: #222 !important;
  color: #ddd !important;
 }

 .profile-popup, .profile-popup tr, .profile-popup th, .profile-gravatar, .newuser, .roomcard,
 .seWrapper, h2.index.header, .privilege-table-row:hover, .list-originals .item.hover,
 .list-originals .body-summary, .review-instructions-reason {
  background-color: #222 !important;
  border-color: #555 !important;
  color: #ddd !important;
 }

 #header #topbar, .revision-comment, .date-span, .post-tag, .form-submit input, .preferred-login,
 .mdhelp, .wmd-help-button.active-help, .date_brick, .more-info {
  background: #222 !important;
  color: #ddd !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
 }

 .ad502-room, .messages, .messages,.topbar-dialog .unread-item {
  background-color: #232323 !important;
  border: 1px solid #191919 !important;
 }

 .rep-recent-row, .bounty, .diff-choices a:hover, div.meter, .narrow .votes, .stats, .ob-post-votes {
  background-color: #232323 !important;
  color: #bbb !important;
 }

 .answer, #system-message, .commentlist, .revision td, #hero-content, .mdhelp-tabs .selected, .tabs .selected {
  background: #232323 !important;
  color: #999 !important;
 }

 .tagged-interesting, .tagged-interesting .views, .highlight-row, .highlighted {
  background-color: #242424 !important;
  background-image: none !important;
 }

 .nav li, .seNav, .topbar a.topbar-icon-on, .topbar a.topbar-icon-on:hover, .topbar-dialog, .owner,
 .module li.current, .seCurrent, .community-bulletin, .owner-revision td, .markdown-diff .skip,
 #footer .container, .current-site-container, .body-diffs .skip, .newsletter-anon, .tag-suggestions>div:hover {
  background-color: #333 !important;
 }

 .owner-answer, .question-status, #input-area, .notification, #feed-ticker, #top-menu, .vote-revision td {
  background: #404040 !important;
 }

 tr.comment:hover, .reply-parent, .timestamp, .usercard, .page-numbers.current,
 .comment-help, .answer-help-background, .mdhelp-tabs, .tabs li, .hi, .seNavLinks a:hover,
 .seNavLinks a:focus, .itemBoxNew {
  background-color: #444 !important;
  color: #ddd !important;
 }

 #post-text-container div span {
  background: #c1beba !important
 }

 /* === Brown(ish) === */
 .new-post-activity, #new-answer-activity {
  background-color: #840 !important;
 }

 /* chat room buttons */
 a.button {
  background: #840 !important;
  color: #eee !important;
 }

 .supernovabg, .hotbg, .nav .youarehere, .nav li:hover, a.button:hover {
  background-color: #d80 !important;
 }

 /* === Green === */
 .accepted-answer, .suggested-edit .inserted, .markdown-diff .inserted {
  background: #232 !important;
 }

 .answered, .answer-votes {
  background: #232323 !important;
  color: #4b553c !important
 }

 .answered-accepted, .answered-accepted strong, .rep-up.bounty-indicator-tab, .user-rep-chart-summary-bar,
 .special-rep {
  background: #4b553c !important;
  color: #fff !important
 }

 .answered strong {
  color: #4b553c !important
 }

 /* === Red === */
 .deleted-answer, .suggested-edit .deleted, .markdown-diff .deleted {
  background-color: #200 !important;
 }

 a.moderator-tag {
  background-color: #400 !important;
 }

 a.moderator-tag:hover {
  background-color: #600 !important;
 }

 /* === Transparent background === */
 div.message .meta, .spaces, .comment, span.feed-icon, a.role-switch, .nav.careers li, .nav.careers li:hover,
 .switcher-nudge-content p {
  background-color: transparent !important;
 }

 #tabs a:hover {
  background-color: #191919 !important;
  border: 1px solid #666666 !important;
  border-bottom: 1px solid #191919 !important;
 }

 .highcharts-container rect[fill="#FFFFFF"], rect[fill="rgb(255, 255, 255)"] {
  fill: transparent !important;
 }

 /* === Dark border === */
 .body-diffs table * {
  border-color: #111 !important;
 }

 a.required-tag, .welovestackoverflow, .question-summary {
  border-color: #333 !important;
 }

 #tabs a.youarehere {
  border-bottom: 1px solid #191919 !important;
 }

 /* === No/hide border === */
 div.list > div {
  border-right: 0 !important;
 }

 .module {
  border-color: transparent !important;
 }

 /* blue label count */
 .bounty-indicator-tab {
  background: #07d !important;
  color: #ccc !important;
 }

 /* === Text Color === */
 div, input, .accepted-answer .post-text, .accepted-answer .user-action-time, #question-header a,
 .post-text, .user-info, .topbar-dialog .header h3, .topbar-dialog .header h3 a, .topbar-dialog span,
 .search-result .answered .vote-count-post strong, .votes-cast-stats th {
  color: #ddd !important;
 }

 /* placeholder */
 ::-webkit-input-placeholder {
  color: #ddd !important;
 }
 ::-moz-placeholder {
  color: #ddd !important;
 }

 .user-details td, .content-page, h2, h2 a, .profile-popup a:hover, .module h4, .page-description,
 #openid_identifier, .form-item label {
  color: #c1beba !important
 }

 .comment, #top-menu a, .subheader a, .reputation a, .reputation-score, a:visited, .relativetime.old,
 .votes-cast-stats td {
  color: #aaa !important;
 }

 .answered-accepted strong, .youarehere, .nav .primarynav li a, .nav a, a:hover, .rep-up.special-rep {
  color: #fff !important
 }

 input, .actual-edit-overlay {
  -webkit-text-fill-color: #fff !important;
 }

 .rep-up {
  color: #4b553c !important;
 }
 .rep-down {
  color: #d65 !important;
 }

 /* dark blue */
 .result-highlight {
  color: #aa0 !important;
 }

 /* brown/dark orange */
 .warm {
  color: #840 !important;
 }

 /* orange */
 .hot {
  color: #a20 !important;
 }

 /* light brown */
 .unanswered {
  color: #9a4444 !important;
 }

 /* === Style adjustments === */
 a.question-hyperlink, a:hover, a:visited {
  text-decoration: underline !important;
 }

 .nav a, .post-tag, .comments-link, .tag-synonym-link, a.post-tag:hover, .topbar a {
  text-decoration: none !important;
 }

 .post-tag, .comments-link, .tag-synonym-link {
  margin: 2px !important;
  padding: 3px !important;
  font-size: 80% !important;
  line-height: 2.2 !important;
  white-space: nowrap !important
 }

 .stats {
  float: right !important;
  margin-top: 5px !important;
 }

 #hsearch, .statscontainer {
  margin-right: 5px !important;
 }

 .stats {
  margin-bottom: 4px !important;
 }

 .nav .primarynav li a, .list-originals .stats {
  display: block !important;
  float: left !important
 }

 /* === badges === */
 a.badge[title^="bronze"], a.badge-tag[title^="bronze"], .badge3 + .badgecount {
  color: #cc9966 !important;
 }
 a.badge[title^="silver"], a.badge-tag[title^="silver"], .badge2 + .badgecount {
  color: #c5c5c5 !important;
 }
 a.badge[title^="gold"], a.badge-tag[title^="gold"], .badge1 + .badgecount {
  color: #ffcc46 !important;
 }
 .badge-tag {
  background-color: #191919 !important;
  border-color: #111 !important;
 }

 /* === code & syntax highlighting === */
 pre, code, .pln, .youarehere {
  background: #333 !important;
  color: #ccc !important;
 }

 .str { color: #0a0 !important; }
 .lit { color: #d65 !important; }
 .pun { color: #999 !important; } /* parenthesis */
 .kwd { color: #08f !important; } /* keyword */
 .tag { color: #999 !important; } /* html tag */
 .atn { color: #088 !important; } /* attribute */
 .atv { color: #0a0 !important; } /* attribute value*/
 .dec { color: #90a !important; } /* doc type */

 /* === Images === */
 .wmd-button>span {
  background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/wmd-buttons.png) !important;
 }

 .statsarrow {
  width: 7px !important;
  height: 13px !important;
  background: url('data:image/gif;base64,R0lGODlhBwANAIAAACMjI////yH5BAEAAAEALAAAAAAHAA0AAAITRI5gGLrnXlzT1NsidEkx/zFHAQA7') 0 0 !important;
 }

 #hlogo img, .everyonelovesstackoverflow, #newsletter-ad { opacity: 0.3 !important; }

 /* chat domain logo */
 #header-logo a {
  display: block;
  width: 150px !important;
  height: 36px !important;
  background-size: cover !important;
  background-position: 0 -2px !important;
 }

 #header-logo img {
  display: none;
 }

}

/* site logos */
@-moz-document regexp("^https?://(chat\.)?stackoverflow\.com.*") {
 #hlogo a {
  /* background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/logo.png) !important; */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAO4AAAA9CAMAAACdmqWRAAAAkFBMVEUAAAD////////////////////////////////////////////////////MikfYijfJkD/+gg70hxL+fxH+hAytjWfTiyjIkUOmim7+ehXAlVOmim7AlVP+gBDTiyjTiyimim79igf9igf9igfAlVP+ehWmim6mim7+ehXTiyiBgYX9igfTiyj+ehXAlVOmim66JvyiAAAAKnRSTlMAVSJ31cFm6RGsM4iZRCYRXEwzvIhIo3yN4J9vzGbLRLeZ1enpd+nVmek3hlZvAAAGBklEQVRo3uTYQW7DIBQE0DkBHzDCclTHSlJLiQDf/3gFbFrabLoev52XiPH4f+Of1PxUOAs3TSkZnMWQshVn4VI24CxMyiZQM4LGpkLASw3BoZFUWNCaQ2bRTCmbwcqG4vG7mh1o3UJxw2Elr2Z5hMKcpZrNHmdBpVLBPEa6Ps6Su4p8jLz3cR64q7m2cyUonil7gtke5wHFTFnNi7zHuUbYMI6RKkbdP4ZKsVazjzFebT9KFndkhNW8xMorNEMoHOeGf42HEQcJlaXc8Jfv8141dqbFeWYcI/UrHrztdwVHuuHLGBsv3a5gUW+XrJoz5ePhpfc4V7KuRrFd7t9XeGlxdpQnPejYeAU8wp34N1UhPjYjLOFfG3UZFTr2J9GMOdbbtn1etHr/KHkQumy7j3rk/qPEeLlf3ZdJrxMxDIATTxY7S8uloqJIcEAgceH//zsSO8t0Hi2d6rHo+TIeJ/X4ix0nVV+EVpDfn47jUHqn3qAcOupE5iR/epOlrI6n9x+vcGUrv71b1JTDuw8vkD++yZ27Rv5ylWH11uV4WNX1h9fwGAKqVxXUzmlUEEIAtUu+F7mzld/NGc+L9/pVaRdfxCBSebhncI+Hw/EFct3Kx/8Ql2k77vIM7uXHjx9fv30+ny+X05q8aHdwkYz++7hgXgF3ipB/Pl9Op8NvcI3/B7i5wroQ1PO45x+/lvN/iOtqaqvyPO7nG7iXP4aLANg0RNFE345PMwLiHVxEwKFOP2vbyO7XR3ERQgBsqvGOnUz7ZuIGt+OgTtYYG0PRIRGRjGMsquOC7eMs1ZxDLCbSkGPF1Tlf44Ijayw5KLqmIigeu+9cbdBguDefTpfz+fO3Nflpi6upNgqbNCpM1ntDlOrHoi32EiB0LseGFK5wFyIh9E0WVKoGnXg4VFNWCq/GBSsZsbShbavKtpltnn5EE/DI2rZUN+SHDe5Smai6jgqICS0plYtmid+zrDUVlYF1x5UydBK+iESr6xPHrixamuNxM5/0L3GzaVaOADnAcWbxklfTIjAPX0Ry+QkgYogW1sXsvM1FAW28bfkwDhAy+YQDV69jMCT5CHKw6I4VGz/FyBPywLVkPAFYwy+WVrhoxaUMIafSNo+yxMC+duImn5qGrVW5VuPQnlJEjh9c0ziymw2zK+TtEBAZK0kyqYcUJBERpUQ89aAXRIhQXUpqUU3czIUACJGp5B3Eo1Sz5nUYMN9vyMSVxXL3O7MsAFofX3TmYPm7650VJYbcqtlJaMA4Y2bDIrxzEC0NRpZykWxrmSrgiQtnH64iH+/hMujCYYYtLlhvoehzoSUpBnpwSGMv9yKqwY8OfAdXYLqWhoEE14knvQ9Xeg3cx20B4wYXabRn13MleQySnCRv0HAsiy+iH8DtiriitqTsMdr6tcC+9+IicSiUHE7cfpCy8GedNxtc1+r2Ja4PvWjZLiW+Frcb17Z7NdSZeelaUvtw5Tj1InqNC93qb+Bab5zx8Qau4mom9voquGJxVHRO7EJS0ns687wt6QodJi5SPYhWxbzFZZBF0FZ7V0qsr8D6JYUhuAdXbhMrj5E7g2Xfz+DOPTpxgzdh2rkFwQZX+jXhbFACLhr0K1O3kpryYKtKamrTY5aEs8tnceUEnriaszVxodknbpRp88R3PSnUoxzHEwxNYX4IV0xh67tVUWibbD8uoppHEuO6a1wQt2kaBFd3qND73RJCmlHoHlyP1GhAyNbr27iySDYDCpHVoG3nlpzKMrfrm8A8JI02Ubi6PZGUZ+g8mCSuYHwCbthWD1zOOg02EQvtSBvB9XQYyzZ9A1e0zpT8lLRykge5VftwhcIkp7Wj4hQlcBsXpqz2xa6qy0S3tHnzH5Foy/o+LxI5AQNoTriHi9RxQTS/un7Z2RF50n5cFahHEXH0fTO/Zhbbq9OKhecNXLSt+bZRCp0hjODmr2XCHVwFqZNANCOwuYBxkucncBUGF1OKGroBtNPcU5ZidqC0awSoy8RFXpyDTuVcWI0OvjrH9UyLv1j8tQna8c+mD6dHPGUs98g4gi7gxmdzUcXTT3lL8ijgOr4aAAAAAElFTkSuQmCC') !important;
 }
}

@-moz-document regexp("^https?://meta\.stackoverflow\.com.*") {
 #hlogo a {
  /* background-image: url(http://StylishThemes.github.io/StackOverflow-Dark/images/meta-logo.png) !important; */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAO4AAAA9CAMAAACdmqWRAAAAk1BMVEUAAAD///////////////////////////////////////////////////+MiYaLiISJhoKKh4OHhICIhYGLh4SMiISKh4OHhYGIg34IAAAUAAAHAAAOAACLiokKAAARAACMh4JsAACDg4OHgnyBfnqLiomMioeOiIQpAABfAABmAAAbAABXAABOAAA/AAA0AABIAADInvqVAAAAIXRSTlMA6RGs1cFmVSJ3M5mIRCYRSeafz4q6elwzQfEXp29ix2ZyYf0pAAAIQElEQVRo3uSXW27iQBBF7wr8woABCyhhQT9s4/2vbqguFzFkPiZGDSPlfCSNZaSc1O3qavwjybFI8Fso8/xyyfBbWF5urPAGavwHlKy7RHw6avF5MtbNER9HtMFnyFIo1YVJEZsNEe3wCZLlqYSSBt0KsdnedPEJjqcbX3456x4RG09k8QGqE5M/tuYSsTH0oVZVBN8CI6v3tOaeqMMnSPPgm72tNavugI+QSZxTBJILkyAG+x2UjqjHFztjtngT5TTOKfeqGGPktSWi1khf5vUVir/JvzHci2mcl7Nbs2mpx64b//DNYNlOaUno+UXnjB/cDQuEbwgbvIXqFJA4F6xbzJB1XLGaGAsYtRMsP9xZIvKAde46GMfwCSy8rb4a5yWY47zWbIkZSGivquDB8Ecj/4MW8MaTdVdzA3D8tY0nBtHI0u9xDhHO5o2Rrfo5Fn+u2CgepA7gReuuYMwYgTaqbtI06+nHUyB5oTXXLpR1i7142tqMuR41N2NwjVTbiG4/vtNH1S2apllU01GSWfBybmvuubSSa8ks5PfEpZbt/KyrhXeIRNYEigTKMviWL9zwe+1MrUbWapi7sbobibfu5aluTUO8KXrRjNy10lOg0hv+PF2jugNUVxYM/zTPuuis7cONsI+nm919F2t9pHE+zhgjtelsVdfrope7vHCFf9RVvPcS/FiscxUuquldoZx1w9d+BLXch8KpLjGmDm8Z803XW9L9Ho101ShFOrkrVAjVTfBTDnrqtFNvo9UdoDzrDlz3PvqYkRTqm68lzoF0tcqSFD9mR+TV0kG3rNFF+5d9Pnm9jqv7vIUzjXOZYiaO7KNuiLDWz0LYPOrqTj9IACKzbhg9lPLTosJs7JPu/j5EetLtDEM2+Kuutij/Fl2kRaOsUJV4gY7sPcOSbu3VeBA/iG4PRldDLN2kWCWYUH0lOsULeD04nejKUFHfE9tpwTnMnRU5PawMxdJdn8/nvFgn3w+lAq/Qt6K7G5VwGGcpTXPvvRy+96vRwcLKABKwiEBxFhaiPDmUUrzClaurlp4f6CKslRY6PNs/3JjZbqswEIbBgxcMBqchjdQjcnGkSCkKUd//6TpjM1Vw94Qu6n/D8A8Z+4sX4uDI0rv5aw+8K2Jl5FvfPr2UttdUPeCZ/TCMBz7X3+1CwLxs83n/NN2y/0AGjfzSahiVtY5L2V81lXdISwqzk0/6M95/p+Nw/4A3/P/UPR6NTxgch2G8oytvbIuq9bfrBJiX8jI6nMbxOI7DOGn34d8p/F0srWZ78wwZt+W/LERezUY4++tqm7N5fbNERWtFtqiEVkqLzFhrTfYp/Ue9sZS3/MQ1ynO9KG2ZowohAC/qEty2adpnyLSU21+IG2gZt7wEt9/v96v1puv63p+TU/Q6roBCfz+uKRbBZUXyTdd737yDW+Q/gOsIVlmbXY7b7V9W9wtxFQ0tBZfjbl7B7b8MVxgjpgjFLoZpnm2yhHgDV2Cew7M6M49Hd/VRXGGsNWIKi1xxYfbnDya4jCN0JYtC1hZjUwGAjtkaQ0WR43wQ2c7WaIE2riZc7dwc1yiQhQRFTWpAiViRazvyDMPQ3ux933Wb9Tm5T3E10EYhKy0yUUlsF6CixmqJPnbQMJcKRmVnuCVAJMwnldgp6nQV0pYshx+e5SNWVUSHU8lW5eRkS8d1uGIEr0OUTtWEvElwS2ICKl1nBgKhBGwMIwnhPrSCOQwDsI64vOoUd58Ue6vpKp5WJUaIxKqT50G/iEsdYB+H/bH1Mkt6GwSCsFlmYbtE7n/IBJq2iP9SOaoKL4YBjfpjRgOGQJ5Za8sFawHz/etmUSweY6xd/ExmDTL+dNxykB2PrB59pNDiG9dODTkhHhUHixGrb/7UuyBIxJWUQ3KXvAaSDtwocImpuEIp2yO22OHrGW4Ljcm6S5ViaL5/kUQ6f5DTEdFFBFrEUyFIjXFhNQQzUVJFIHpEioRE0SVG7z5dIrSR3y7Ppu7R+6LC2OER2WzYB8L8umkn7vSv95WZG7A2u/+ozFXWe88vq0PD2NmskOZIaa6cWJi4P4jKhsFWFkTbsBTgDYnzCPeVQv+CK6EsmfUT1yUIUgAbzaBkpzioX/NMoil+cOIWlzDstbchAVfhyZ7gstb4F1wIjh+4U5ptJ4wV4lgRnIaRbxxZLSyR33HZgau0t3R57DLfVuH7CS5fkCU1jQcuDlIKLFNQ/sDVnbc/cUNl0i47Uvxs+hhX9r3a58pR2GuvJ7g8TgOanbhOa7jBlZA1h36Du4qTJXj9H7iwaJpbXOdcQko/q8y8LdmErsDd75URj2T+xF0gBWjHt4sU4w6cg1bfLT7BxW3i8NhXZRD6fo77IhZwITvX0z5C8A9c1OsUrwIFcPScVyZYoZjtOy4LFHuHx4GA0+Vj3PMEJq7taBHXYT9wO5ZdJ74yKAnuKI7zA+7GP+DSVH/4RhZV+C7PcSOocCTxlD1xHW7bZQCuEaqy3pVa26XCKI5Ks3n0IcHucLlJMjyCSMxNyI2YYpt5fSPM97ZpW6p/3Z4S0rOSJzboqjk0n2MTIy4yLG02NnEeaRTHcGRZNrvBRQ9MAGdrh5PxJpfXM1xQ5KZms+S1COHSy6Kc9iJHduWuBeuOf0TolfM+j9YZAGJwwT0uJoDr6PHKyJiyImLRE1zwJqrokfpDvt6WizA7BZa57sKNsouvbGmVDJXi+PS14B735Y0k3jOFHRvYL/LxEBd6q/bWujkNbmrTPsofs/rLlDXaemsFA1UnlWo9ZiFtr1FGGv5667oXmO7H6EPtrcfwHJRNBWyuytH404Wn33iFQHtUqeywAAAAAElFTkSuQmCC') !important;
 }
}
