/*! Atelier-forest-dark */
/* Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #1b1918 !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  border: 0 !important;
}

.pln {
  color: #f1efee !important;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #766e6b !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em !important;
  background-color: #1b1918 !important;
  list-style-type: decimal !important;
}

@media screen {

  /* string content */

  .str {
    color: #7b9726 !important;
  }

  /* keyword */

  .kwd {
    color: #6666ea !important;
  }

  /* comment */

  .com {
    color: #766e6b !important;
  }

  /* type name */

  .typ {
    color: #407ee7 !important;
  }

  /* literal value */

  .lit {
    color: #df5320 !important;
  }

  /* punctuation */

  .pun {
    color: #f1efee !important;
  }

  /* lisp open bracket */

  .opn {
    color: #f1efee !important;
  }

  /* lisp close bracket */

  .clo {
    color: #f1efee !important;
  }

  /* markup tag name */

  .tag {
    color: #f22c40 !important;
  }

  /* markup attribute name */

  .atn {
    color: #df5320 !important;
  }

  /* markup attribute value */

  .atv {
    color: #3d97b8 !important;
  }

  /* declaration */

  .dec {
    color: #df5320 !important;
  }

  /* variable name */

  .var {
    color: #f22c40 !important;
  }

  /* function name */

  .fun {
    color: #407ee7 !important;
  }
}