/*! Atelier-cave-dark */
/* Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #19171c !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  border: 0 !important;
}
.pln {
  color: #efecf4 !important;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #655f6d !important;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em !important;
  background-color: #19171c !important;
  list-style-type: decimal !important;
}
@media screen {
  /* string content */
  .str {
    color: #2a9292 !important;
  }
  /* keyword */
  .kwd {
    color: #955ae7 !important;
  }
  /* comment */
  .com {
    color: #655f6d !important;
  }
  /* type name */
  .typ {
    color: #576ddb !important;
  }
  /* literal value */
  .lit {
    color: #aa573c !important;
  }
  /* punctuation */
  .pun {
    color: #efecf4 !important;
  }
  /* lisp open bracket */
  .opn {
    color: #efecf4 !important;
  }
  /* lisp close bracket */
  .clo {
    color: #efecf4 !important;
  }
  /* markup tag name */
  .tag {
    color: #be4678 !important;
  }
  /* markup attribute name */
  .atn {
    color: #aa573c !important;
  }
  /* markup attribute value */
  .atv {
    color: #398bc6 !important;
  }
  /* declaration */
  .dec {
    color: #aa573c !important;
  }
  /* variable name */
  .var {
    color: #be4678 !important;
  }
  /* function name */
  .fun {
    color: #576ddb !important;
  }
}
