/*! Atelier-plateau-dark */
/* Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #1b1818 !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  border: 0 !important;
}

.pln {
  color: #f4ecec !important;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #655d5d !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em !important;
  background-color: #1b1818 !important;
  list-style-type: decimal !important;
}

@media screen {

  /* string content */

  .str {
    color: #4b8b8b !important;
  }

  /* keyword */

  .kwd {
    color: #8464c4 !important;
  }

  /* comment */

  .com {
    color: #655d5d !important;
  }

  /* type name */

  .typ {
    color: #7272ca !important;
  }

  /* literal value */

  .lit {
    color: #b45a3c !important;
  }

  /* punctuation */

  .pun {
    color: #f4ecec !important;
  }

  /* lisp open bracket */

  .opn {
    color: #f4ecec !important;
  }

  /* lisp close bracket */

  .clo {
    color: #f4ecec !important;
  }

  /* markup tag name */

  .tag {
    color: #ca4949 !important;
  }

  /* markup attribute name */

  .atn {
    color: #b45a3c !important;
  }

  /* markup attribute value */

  .atv {
    color: #5485b6 !important;
  }

  /* declaration */

  .dec {
    color: #b45a3c !important;
  }

  /* variable name */

  .var {
    color: #ca4949 !important;
  }

  /* function name */

  .fun {
    color: #7272ca !important;
  }
}