/*! Doxy */
/* pretty-printing styles. Used with prettify.js.  */
/* https://code.google.com/p/google-code-prettify/source/browse/trunk/styles/doxy.css */

pre .str, code .str { color: #fec243 !important; } /* string  - eggyolk gold */
pre .kwd, code .kwd { color: #8470FF !important; } /* keyword - light slate blue */
pre .com, code .com { color: #32cd32 !important; font-style: italic !important; } /* comment - green */
pre .typ, code .typ { color: #6ecbcc !important; } /* type - turq green */
pre .lit, code .lit { color: #d06 !important; } /* literal - cherry red */
pre .pun, code .pun { color: #8B8970 !important;  } /* punctuation - lemon chiffon4  */
pre .pln, code .pln { color: #f0f0f0 !important; } /* plaintext - white */
pre .tag, code .tag { color: #9c9cff !important; } /* html/xml tag  (bluey)  */
pre .htm, code .htm { color: #dda0dd !important; } /* html tag  light purply*/
pre .xsl, code .xsl { color: #d0a0d0 !important; } /* xslt tag  light purply*/
pre .atn, code .atn { color: #46eeee !important; font-weight: normal !important;} /* html/xml attribute name  - lt turquoise */
pre .atv, code .atv { color: #EEB4B4 !important; } /* html/xml attribute value - rosy brown2 */
pre .dec, code .dec { color: #3387CC !important; } /* decimal - blue */

a {
  text-decoration: none !important;
}
pre.prettyprint, code.prettyprint {
  font-family:'Droid Sans Mono','CPMono_v07 Bold','Droid Sans' !important;
  font-weight: bold !important;
  background-color: #0f0f0f !important;
}  /*  background is black (well, just a tad less dark )  */

pre.prettyprint {
  width: 95% !important;
  margin: 1em auto !important;
  padding: 1em !important;
  white-space: pre-wrap !important;
}

pre.prettyprint a, code.prettyprint a {
  text-decoration:none !important;
}
/* Specify class=linenums on a pre to get line numbering !important; line numbers themselves are the same color as punctuation */
ol.linenums { margin-top: 0 !important; margin-bottom: 0 !important; color: #8B8970 !important; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none !important; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

/* print is mostly unchanged from default at present  */
@media print {
  pre.prettyprint, code.prettyprint { background-color: #fff !important;  }
  pre .str, code .str { color: #088 !important; }
  pre .kwd, code .kwd { color: #006 !important; font-weight: bold !important; }
  pre .com, code .com { color: #0c3 !important; font-style: italic !important; }
  pre .typ, code .typ { color: #404 !important; font-weight: bold !important; }
  pre .lit, code .lit { color: #044 !important; }
  pre .pun, code .pun { color: #440 !important; }
  pre .pln, code .pln { color: #000 !important; }
  pre .tag, code .tag { color: #b66ff7 !important; font-weight: bold !important; }
  pre .htm, code .htm { color: #606 !important; font-weight: bold !important; }
  pre .xsl, code .xsl { color: #606 !important; font-weight: bold !important; }
  pre .atn, code .atn { color: #c71585 !important;  font-weight: normal !important; }
  pre .atv, code .atv { color: #088 !important;  font-weight: normal !important; }
}
