/*! Atelier-lakeside-dark */
/* Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #161b1d !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  border: 0 !important;
}

.pln {
  color: #ebf8ff !important;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #5a7b8c !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em !important;
  background-color: #161b1d !important;
  list-style-type: decimal !important;
}

@media screen {

  /* string content */

  .str {
    color: #568c3b !important;
  }

  /* keyword */

  .kwd {
    color: #6b6bb8 !important;
  }

  /* comment */

  .com {
    color: #5a7b8c !important;
  }

  /* type name */

  .typ {
    color: #257fad !important;
  }

  /* literal value */

  .lit {
    color: #935c25 !important;
  }

  /* punctuation */

  .pun {
    color: #ebf8ff !important;
  }

  /* lisp open bracket */

  .opn {
    color: #ebf8ff !important;
  }

  /* lisp close bracket */

  .clo {
    color: #ebf8ff !important;
  }

  /* markup tag name */

  .tag {
    color: #d22d72 !important;
  }

  /* markup attribute name */

  .atn {
    color: #935c25 !important;
  }

  /* markup attribute value */

  .atv {
    color: #2d8f6f !important;
  }

  /* declaration */

  .dec {
    color: #935c25 !important;
  }

  /* variable name */

  .var {
    color: #d22d72 !important;
  }

  /* function name */

  .fun {
    color: #257fad !important;
  }
}