/*! Hemisu Dark */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
.prettyprint {
  background: black !important;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace !important;
  line-height: 1.4em !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}

.pln {
  color: #eeeeee !important;
}

@media screen {
  .str {
    color: #b1d631 !important;
  }

  .kwd {
    color: #b1d631 !important;
  }

  .com {
    color: #777777 !important;
  }

  .typ {
    color: #bbffaa !important;
  }

  .lit {
    color: #9fd3e6 !important;
  }

  .pun {
    color: #eeeeee !important;
  }

  .opn {
    color: #eeeeee !important;
  }

  .clo {
    color: #eeeeee !important;
  }

  .tag {
    color: #eeeeee !important;
  }

  .atn {
    color: #b1d631 !important;
  }

  .atv {
    color: #bbffaa !important;
  }

  .dec {
    color: #eeeeee !important;
  }

  .var {
    color: #eeeeee !important;
  }

  .fun {
    color: #9fd3e6 !important;
  }
}
@media print, projection {
  .str {
    color: #006600 !important;
  }

  .kwd {
    color: #006 !important;
    font-weight: bold !important;
  }

  .com {
    color: #600 !important;
    font-style: italic !important;
  }

  .typ {
    color: #404 !important;
    font-weight: bold !important;
  }

  .lit {
    color: #004444 !important;
  }

  .pun, .opn, .clo {
    color: #444400 !important;
  }

  .tag {
    color: #006 !important;
    font-weight: bold !important;
  }

  .atn {
    color: #440044 !important;
  }

  .atv {
    color: #006600 !important;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
